extends layout

block content
  .main
      h2.index-title Home
      if !currentUser
        .messageList 
            for msg in message_list
              .messageCont  
                div.title #{msg.title}
                div.text #{msg.text}
                div.username Anon
                div.status #{msg.user.membership_status}
                div#timeStamp Hidden time    
                   
      else 
        .messageList 
          for msg in message_list
            if msg.user.membership_status === currentUser.membership_status || msg.user.membership_status == 'new user' || currentUser.admin 
              .messageCont  
                div.title #{msg.title}
                div.text #{msg.text}
                div.username #{msg.user.username}  
                div.status #{msg.user.membership_status}
                div#timeStamp #{msg.timeStamp}
                
            else
              .messageCont  
                div.title #{msg.title}
                div.text #{msg.text}
                div.username Anon 
                div.status #{msg.user.membership_status}
                div#timeStamp Hidden time  