extends layout

block content
  .main
      h2.index-title Home
      if !currentUser
        .messageList 
            for msg in message_list
              .messageCont  
                div.title Hidden
                div.text Sign-in to see the message
                div.username #{msg.user.username} 
                div.status #{msg.user.membership_status}
                div#timeStamp #{msg.timeStamp}    
                   
      else 
        .messageList 
          for msg in message_list
            if msg.user.membership_status === currentUser.membership_status || msg.user.membership_status == 'new user'
              .messageCont  
                div.title #{msg.title}
                div.text #{msg.text}
                div.username #{msg.user.username}  
                div.status #{msg.user.membership_status}
                div#timeStamp #{msg.timeStamp}
                
            else
              .messageCont  
                div.title Hidden
                div.text Join the club to see message
                div.username #{msg.user.username}  
                div.status #{msg.user.membership_status}
                div#timeStamp #{msg.timeStamp}  